<div class="main-container">
  <div class="idea-container">
    <div class="idea-body border-top border-right border-left border-secondary rounded-top">
      <h3><%= @idea.title %></h3>
      <p><%= @idea.body%></p>
    </div>
    <div class="idea-secondary border-top border-right border-left border-secondary p-3">
      <% if can?(:crud, @idea) %>
        <%= link_to "Edit", edit_idea_path(@idea), class: "btn btn-secondary" %>
        <%= link_to "Delete", idea_path(@idea), method: :delete, class: "btn btn-danger" %>
      <% end %>
      <% like = @idea.likes.find_by(user: current_user)%>
      <% if like.nil? %>
        <%= link_to "Like", idea_likes_path(@idea), method: :post, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Unlike", idea_like_path(@idea, like), method: :delete, class: "btn btn-warning" %>
      <% end %>
    </div>
    <div class="idea-info-show border rounded-bottom border-secondary p-3">
        <h6>By <%= @idea.user.first_name %></h6>
        <h6><%= time_ago_in_words(@idea.created_at) %> ago</h6>
        <h6 class="likes-holder">Likes - <%= @idea.likers.count %></h6>
    </div>
  </div>
  
  <div class="reviews-main-container">
    <% if @review.errors.messages.any? %>
      <div class="review-errors">
        <ul class="errors">
          <% @review.errors.full_messages.each do |err| %>
            <li class="error"><%= err %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="review-form">
      <h2>Create review</h2>
      <%= form_with model: @review, url: idea_reviews_path(@idea), local: true do |f| %>
        <div class="form-group">
          <%= f.label :body%>
          <%= f.text_field :body, class: "form-control" %>
        </div>
        <%= f.submit "Submit Review"%>
      <% end %>
    </div>
    <% if !@reviews.nil? %>
      <div class="reviews-container">
        <% @reviews.each do |review| %>
          <div class="review">
            <p><%= review.body %></p>
            <% if can?(:crud, review) %>
              <%= link_to "Delete", idea_review_path(@idea, review), method: :delete %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>